<!DOCTYPE html>
<html lang="en">
<head>
    <title>Календарь для компании Рабочие Руки</title>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <table class="table">
        <thead>
            <tr>
                <td  style="background: deepskyblue">
                    <button style="background: deepskyblue; border: none" v-on:click="decrease"><</button>
                </td>
                <td colspan="5"> {{year}} {{monthes[month]}} {{dateNum}} </td>
                <td  style="background: deepskyblue">
                    <button style="background: deepskyblue; border: none" v-on:click="increase">></button>
                </td>
            </tr>
            <tr>
                <td v-for="d in day">{{d}}</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="week in calendar()" @click="clickOnNumDay($event)">
                <td v-for="(day, index) in week" :style="{'color': day.weekend, 'background-color': day.current}"> {{ day.index }}</td>
            </tr>
        </tbody>
    </table>
    <div class="language-change">
        <h4>Смена языка</h4>
        <div>
            <input type="radio" value="1" v-model="dFirstMonth" id="customRadio1" name="customRadio" class="custom-control-input">
            <label for="customRadio1">English</label>
        </div>
        <div>
            <input type="radio" value="0" v-model="dFirstMonth" id="customRadio2" name="customRadio" class="custom-control-input">
            <label for="customRadio2">Русский</label>
        </div>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            dateNum:            new Date().getDate(),
            month:              new Date().getMonth(),
            year:               new Date().getFullYear(),
            dFirstMonth:        '1',
            day:                ["Mo","Tu","We","Th","Fr","Sa","Su"],
            monthes:            ["January","February","March","April","May","June","July","August","September","October","November","December"],
            date:               new Date(),
        },
        methods:{
            calendar: function () {
                var days   = [];
                var week   = 0;
                days[week] = [];
                var dlast  = new Date(this.year, this.month + 1, 0).getDate();
                    for (let i = 1; i < dlast; i++) {
                        if (new Date(this.year, this.month, i).getDay() != this.dFirstMonth) {
                            a = {index:i};
                            days[week].push(a);
                            if (i == new Date().getDate() && this.year == new Date().getFullYear() && this.month == new Date().getMonth())
                                {a.current = 'coral'};
                            if (new Date(this.year, this.month, i).getDay() == 6 || new Date(this.year, this.month, i).getDay() == 0)
                                {a.weekend = 'dodgerblue'};
                        } else {
                            week++;

                            days[week] = [];
                            a = {index:i};
                            days[week].push(a);
                            if ((i === new Date().getDate() && (this.year === new Date().getFullYear()) && (this.month === new Date().getMonth())))
                                {a.current = 'coral'};
                            if (new Date(this.year, this.month, i).getDay() == 6 || new Date(this.year, this.month, i).getDay() == 0)
                            {a.weekend = 'dodgerblue'};
                        }
                    }

                if (days[0].length > 0) {
                    for (let i = days[0].length; i < 7; i++) {
                        days[0].unshift('');
                    }
                }
                this.dayChange;

                return days;
            },
            clickOnNumDay: function (event) {
                if ((typeof event != "null")) {
                    this.dateNum = event.target.innerHTML
                    this.dateNum.replace(/[^+\d]/g, '')
                } else {
                    this.dateNum = new Date().getDate()
                }
            },
            decrease: function () {

                this.month--;
                if (this.month < 0) {
                    this.month = 12;
                    this.month--;
                    this.year--;
                }
                this.dateNum = '';
            },
            increase: function () {

                this.month++;
                if (this.month < 11) {
                    this.month = -1;
                    this.month++;
                    this.year++;
                }
                this.dateNum = '';
            },
        },
        computed: {
            dayChange: function () {
                if (this.dFirstMonth == 0) {
                    this.monthes = ["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"];
                    this.day     = ["Вс","Пн","Вт","Ср","Чт","Пт","Сб"];
                } else {
                    this.monthes = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                    this.day     = ["Mo","Tu","We","Th","Fr","Sa","Su"];
                }
            }
        }

    })

</script>
<style>
#app {
    width: 450px;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
}
.table {
    border-collapse: collapse;
    float: left;
    width: 210px;
    table-layout: fixed;
}
.language-change {
    float: right;
}
.table td {
    border: coral solid 1px;
    text-align: center;
}
.table thead tr:last-child {
    background-color: deepskyblue;
}
.table td:hover {
    background: coral;
}

</style>
</body>
</html>